input {
  file {
    path => "/home/creb/Documents/dev/elastica/Switzerland.txt"
    start_position => "beginning"
  }
}

filter {
      csv {
        columns => [ "phone", "id", "first_name", "last_name", "sexe", "city", "origine", "status", "professional", "creation_date", "email", "birthday"]
        separator => ";"
     }
    }

output {
  elasticsearch { 
  hosts => ["127.0.0.1:9200"] 
  index => "facebook_swiss"
  }

 }